First Notebook

In [6]:
1+1

2

In [7]:
"hello world"

'hello world'

In [12]:
a = 1
b = 2
a+b

3

In [14]:
b

2

In [2]:
import pandas as pd

df = pd.read_csv('../data/GalaxyZoo1_DR_table2.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667944 entries, 0 to 667943
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   OBJID          667944 non-null  int64
 1   RA             667944 non-null  object
 2   DEC            667944 non-null  object
 3   NVOTE          667944 non-null  int64
 4   P_EL           667944 non-null  float64
 5   P_CW           667944 non-null  float64
 6   P_ACW          667944 non-null  float64
 7   P_EDGE         667944 non-null  float64
 8   P_DK           667944 non-null  float64
 9   P_MG           667944 non-null  float64
 10  P_CS           667944 non-null  float64
 11  P_EL_DEBIASED  667944 non-null  float64
 12  P_CS_DEBIASED  667944 non-null  float64
 13  SPIRAL         667944 non-null  int64
 14  ELLIPTICAL     667944 non-null  int64
 15  UNCERTAIN      667944 non-null  int64
dtypes: float64(9), int64(5), object(2)
memory usage: 81.5+ MB